<html>
 <head>
   <title>Contact</title>
   <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
   <script src="/assets/contact-list.js"></script>
 </head>
 <body>
   <div>
     <h1>Information for <%= contactId %>.</h1>
     <ul>
       <li><strong>contactId: </strong><%= contactId %></li>
       <li><strong>test: </strong><%= test.firstName %></li>
     </ul>
   </div>
 </body>
</html>
